<mat-toolbar color= "primary" class= "navbar">
  <div>
    Api Documentation
  </div>
  <div class= "navbar__item">
    <span *ngIf="userRole === 'Admin'" (click) = "openAdminPage()">  Admin Page </span>
  </div>
</mat-toolbar>

<main class="container">

  <div *ngFor="let item of data$ | async " class="item">

    <div class="item__title">
      {{item.name | json}}
    </div>

    <div class="item__image-wrapper">
      <img src="{{item.image_url}}" class="item__image">
    </div>

     <div class="item__navigator">
       <a
         class="item__link"
         [routerLink]="['/userassesments/graph']"
         [queryParams] = "{id: item.id}">
         Show Graphs
       </a>
    </div>
  </div>
</main>




